.left-top-main {
    display: flex;
    flex-direction: column;
    color: white;
    background: none;
    width: 220px;
    margin-left: 50px;

    .select-cities-div {
        .select-cities-div-select {
            background: none;
            color: white;
            font-size: 24px;
            border: none;
            padding: 10px 0px 10px 10px;

            option {
                background-color: #916617;
            }
        }
    }

    .weather-state {
        font-size: 50px;

    }

    .temperature {
        font-size: 60px;
    }

    .todays-date {
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 20px;
    }
}