body {
    background-color: #D2982D;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 35px;
    box-sizing: border-box;

    .app-main {
        .top-row {
            display: flex;
            justify-content: space-between;
            padding-bottom: 25px;
        }

        .app-row {
            display: flex;
            justify-content: center;

            .app-column {
                display: flex;
                flex-direction: column;
            }
        }
    }
}